<a href="https://colab.research.google.com/github/NicolasMCDias/AtividadesPythonUni/blob/main/ListaEstruturaDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Escreva uma função que recebe uma lista de dicionários e retorna uma lista de tuplas, onde
cada tupla contém o nome e idade de cada pessoa, ordenadas por idade de forma crescente.

In [ ]:
Lista_dicio = [{'NOME': "Heitor", 'IDADE': 23},{'NOME' : "Ana",'IDADE':12}]
print(Lista_dicio)
def para_tupla(lista):
  lista_tupla = list()
  for conver in lista:
    nome = conver['NOME']
    idade = conver['IDADE']
    valores = (nome, idade)
    lista_tupla.append(valores)
  return lista_tupla
print(para_tupla(Lista_dicio))

2. Escreva uma função que recebe uma lista de dicionários com informações sobre pessoas
(nome, idade, endereço) e retorna uma lista de dicionários contendo apenas o nome e
endereço de cada pessoa.

In [ ]:

informação = [{'NOME':"João",'IDADE':18, 'ENDEREÇO': "Rua aleatoria,1"},{'NOME':"Carol",'IDADE':52,'ENDEREÇO':"Rua conceição,234"}]
print(f"lista com tudo ==>{informação}")
#Função:
def need(lista):
  desejadas = {}
  lista_desejada = list()
  for sel in lista:
    nome = sel['NOME']
    endereco = sel['ENDEREÇO']
    desejadas['NOME'] = nome
    desejadas['ENDEREÇO'] = endereco
    lista_desejada.append(desejadas)
  return lista_desejada

print(f"Somente com nome e endereço =>{need(informação)}")

lista com tudo ==>[{'NOME': 'João', 'IDADE': 18, 'ENDEREÇO': 'Rua aleatoria,1'}, {'NOME': 'Carol', 'IDADE': 52, 'ENDEREÇO': 'Rua conceição,234'}]
Somente com nome e endereço =>[{'NOME': 'Carol', 'ENDEREÇO': 'Rua conceição,234'}, {'NOME': 'Carol', 'ENDEREÇO': 'Rua conceição,234'}]

3. Escreva uma função que recebe uma lista de números e retorna uma lista contendo somente
os números pares da lista original.

In [ ]:
def pares(lista):
  par = []
  for p in lista:
    if p % 2 == 0:
      par.append(p)
  return par

lista_numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(pares(lista_numeros))

4. Escreva uma função que recebe uma lista de dicionários com informações sobre alunos
(nome, notas de matemática, notas de história) e retorna uma lista de dicionários contendo o
nome e a média das notas de cada aluno.

In [ ]:
def media_aluno(lista):
  listaComMedia = []
  for m in lista:
    aluno = {}
    media = (m['NOTAmat'] + m['NOTAhis']) / 2
    aluno['NOME'] = m['ALUNO']
    aluno['MEDIA'] = media
    listaComMedia.append(aluno)
  return listaComMedia

lista_aluno = [{'ALUNO': "Anderson",'NOTAmat': 8.5,'NOTAhis': 5.5},{'ALUNO':"Trinide" ,'NOTAmat': 10 ,'NOTAhis':7.5}]

print(media_aluno(lista_aluno))

5. Escreva uma função que recebe uma lista de tuplas contendo informações sobre livros (título,
autor, ano de publicação) e retorna uma lista de tuplas contendo somente os livros publicados
depois de 2000, ordenados por ano de publicação.

In [ ]:
def LivrosDeAno (Li):
  lista = []
  for l in Li:
    if l[2] > 2000:
      lista.append(l)
  return lista

Livros = [("O vendedor de Historias","Jostein Gaarder",2001),("O Andarilho","Bernard Cornwell",2002),("Senhor dos aneis","J.R.R.Tolkien",1954)]
print(LivrosDeAno(Livros))

6. Escreva uma função que recebe um dicionário com informações sobre uma pessoa (nome,
idade, endereço, telefone) e retorna uma string formatada com as informações.

In [ ]:
from typing import TextIO
def formatar(lista):
  nome = lista['NOME']
  idade = str(lista['IDADE'])
  endereco = lista['ENDERECO']
  telefone = lista['TELEFONE']
  Texto = "NOME: "+ nome + "\nIDADE: " + idade + "\nENDERECO: "+ endereco +"\nTELEFONE: " + telefone
  return Texto


pessoa = {'NOME': "Ludo" ,'IDADE': 16,'ENDERECO':"Abaixo do paraiso",'TELEFONE':"249945845312"}
print(formatar(pessoa))

7. Escreva uma função que recebe uma lista de dicionários com informações sobre produtos
(nome, preço, quantidade em estoque) e retorna o produto com o menor preço.

In [ ]:
def MaisBarato(produto):
  menor = None
  for v in produto:
    m = v['PRECO']
    if menor is None or m < menor:
      menor = m
      prod = v['NOME']
  meno = str(menor)
  barato = prod + " é o mais barato, R$"+meno

  return barato


listaProduto = [{'NOME':"Suco de laranja",'PRECO':15.68,'QUANT':5},{'NOME':"Paçoca",'PRECO':5.50,'QUANT':20},{'NOME':"Agua",'PRECO':6.00,'QUANT':10},{'NOME':"Amaciante",'PRECO':35.99,'QUANT':4}]
print(MaisBarato(listaProduto))

8. Escreva uma função que recebe uma lista de números e retorna uma lista contendo somente
os números ímpares da lista original, ordenados de forma decrescente.

In [ ]:
def ImparDecre(lista):
  Impares = []
  for i in lista:
    if i % 2 == 1:
      Impares.append(i)
  inverti = sorted(Impares, reverse = True)
  return inverti

lista_numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(ImparDecre(lista_numeros))

9. Escreva uma função que recebe uma lista de dicionários com informações sobre alunos
(nome, notas de matemática, notas de história) e retorna uma lista de dicionários contendo o
nome e a média das notas de cada aluno, ordenados por média.

In [ ]:
def media_ordenada(valor):
  media = []
  for m in valor:
    medi = {}
    med = (m['NOTAmat'] + m['NOTAhis']) / 2
    medi['NOME'] = m['ALUNO']
    medi['MEDIA'] = med
    media.append(medi)
  media = sorted(media, key=lambda x: x['MEDIA'] )
  return media


lista_aluno = [{'ALUNO': "Anderson",'NOTAmat': 8.5,'NOTAhis': 9.5},{'ALUNO':"Trinide" ,'NOTAmat': 10 ,'NOTAhis':7.5}]

print(media_ordenada(lista_aluno))

[{'NOME': 'Trinide', 'MEDIA': 8.75}, {'NOME': 'Anderson', 'MEDIA': 9.0}]

10. Escreva uma função que recebe uma lista de dicionários com informações sobre carros
(marca, modelo, ano de fabricação, preço) e retorna uma lista de dicionários contendo
somente os carros fabricados depois de 2010, ordenados por preço.

In [ ]:

Carros = [{'MARCA': 'Ford', 'MODELO': 'Fiesta', 'ANO': 2020, 'PRECO': 45000},{'MARCA': 'Toyota', 'MODELO': 'Corolla', 'ANO': 2008, 'PRECO': 62000}, {'MARCA': 'Chevrolet', 'MODELO': 'Onix', 'ANO': 2009, 'PRECO': 55000}, {'MARCA': 'Volkswagen', 'MODELO': 'Golf', 'ANO': 2018, 'PRECO': 58000}]

def carros_ano(entra):
  mildez = []
  for n in entra:
    if n ['ANO'] > 2010:
      mildez.append(n)
  mildez = sorted(mildez, key=lambda x : x['PRECO'])
  return mildez
print(carros_ano(Carros))

11. Escreva uma função que recebe uma lista de tuplas contendo informações sobre músicas
(título, artista, duração em segundos) e retorna uma lista de tuplas contendo somente as
músicas com duração maior do que 180 segundos, ordenadas por duração.

In [ ]:
musicas = [{'TITULO':"Boremian Rhapsody",'ARTISTA':"Queen",'DURACAO':354},{'TITULO':"Controllah",'ARTISTA':"Gorillaz ft.MC bin laden",'DURACAO':140},{'TITULO':"AFTER HOURS",'ARTISTA':"The Weekend",'DURACAO':361}]
def maior180(musicas):
  duracao180 = []
  for d in musicas:
    if d['DURACAO'] > 180:
      duracao180.append(d)
  duracao180 = sorted(duracao180, key = lambda x : x['DURACAO'])
  return duracao180

print(maior180(musicas))

12. Escreva uma função que recebe um dicionário com informações sobre uma pessoa (nome,
idade, endereço, telefone) e permite que o usuário atualize qualquer uma dessas
informações.

In [ ]:
pessoa = [ {'IDNOME':1,'NOME': 'João', 'IDADE': 25, 'ENDERECO': 'Rua A, 123', 'TELEFONE': '(11) 1234-5678'},{'IDNOME':2,'NOME': 'Maria', 'IDADE': 30, 'ENDERECO': 'Rua B, 456', 'TELEFONE': '(11) 2345-6789'},{'IDNOME':3,'NOME': 'Pedro', 'IDADE': 20, 'ENDERECO': 'Rua C, 789', 'TELEFONE': '(11) 3456-7890'}, {'IDNOME':4,'NOME': 'Ana', 'IDADE': 28, 'ENDERECO': 'Rua D, 321', 'TELEFONE': '(11) 4567-8901'}, {'IDNOME':5,'NOME': 'Lucas', 'IDADE': 22, 'ENDERECO': 'Rua E, 654', 'TELEFONE': '(11) 5678-9012'}]
def Alterar(lista_p,valtera,Amudar,ID):
  atualizacao = []
  #alteracao de nome:
  if valtera == 1:
    for altera in lista_p:
      if altera['IDNOME'] == ID:
        altera['Nome'] = Amudar
        atualizacao.append(altera)
      else:
        atualizacao.append(altera)

  #alteracao de idade:
  elif valtera == 2:
    for altera in lista_p:
      if altera['IDNOME'] == ID:
        altera['IDADE'] = Amudar
        atualizacao.append(altera)
      else:
        atualizacao.append(altera)

  #alteracao de endereco:
  elif valtera == 3:
    for altera in lista_p:
      if altera['IDNOME'] == ID:
        altera['ENDERECO'] = Amudar
        atualizacao.append(altera)
      else:
        atualizacao.append(altera)

  #alteracao de telefone:
  elif valtera == 4:
    for altera in lista_p:
      if altera['IDNOME'] == ID:
        altera['TELEFONE'] = Amudar
        atualizacao.append(altera)
      else:
        atualizacao.append(altera)

  return atualizacao


ValorAlteracao = int(input("Qual valor será alterado : \n[1]NOME\n[2]IDADE\n[3]ENDEREÇO\n[4]TELEFONE\n"))
idnome = int(input("Codigo de acesso: "))
if ValorAlteracao == 1:
  nome = input("Novo nome: ")
  print(Alterar(pessoa,ValorAlteracao,nome,idnome))
elif ValorAlteracao == 2:
  idade = int(input("Nova idade: "))
  print(Alterar(pessoa,ValorAlteracao,idade,idnome))
elif ValorAlteracao == 3:
  endereco  = input("novo endereco: ")
  print(Alterar(pessoa,ValorAlteracao,endereco,idnome))
elif ValorAlteracao == 4:
  telefone = input("Novo telefone: ")
  print(Alterar(pessoa,ValorAlteracao,telefone,idnome))

Qual valor será alterado :
[1]NOME
[2]IDADE
[3]ENDEREÇO
[4]TELEFONE
4
Codigo de acesso: 3
Novo telefone: (14) 4512-8956
[{'IDNOME': 1, 'NOME': 'João', 'IDADE': 25, 'ENDERECO': 'Rua A, 123', 'TELEFONE': '(11) 1234-5678'}, {'IDNOME': 2, 'NOME': 'Maria', 'IDADE': 30, 'ENDERECO': 'Rua B, 456', 'TELEFONE': '(11) 2345-6789'}, {'IDNOME': 3, 'NOME': 'Pedro', 'IDADE': 20, 'ENDERECO': 'Rua C, 789', 'TELEFONE': '(14) 4512-8956'}, {'IDNOME': 4, 'NOME': 'Ana', 'IDADE': 28, 'ENDERECO': 'Rua D, 321', 'TELEFONE': '(11) 4567-8901'}, {'IDNOME': 5, 'NOME': 'Lucas', 'IDADE': 22, 'ENDERECO': 'Rua E, 654', 'TELEFONE': '(11) 5678-9012'}]

13. Escreva uma função que recebe uma lista de dicionários com informações sobre produtos
(nome, preço, quantidade em estoque) e retorna o produto com o maior estoque.

In [ ]:
produtos = [{'nome': 'Arroz 1Kg', 'preco': 10.99, 'estoque': 50},{'nome': 'BomBom', 'preco': 5.99, 'estoque': 100}, {'nome': 'Paçoca', 'preco': 2.99, 'estoque': 200},{'nome': 'Saldado', 'preco': 15.99, 'estoque': 20},]

def maior_estoque(lista):
  ma = 0
  esto = {}
  for max in lista:
    if ma < max['estoque']:
      ma = max['estoque']
      pro_nome = max['nome']
  ma = str(ma)
  maior = "maior estoque é de " + pro_nome + " com sua(s) " + ma + " Unidades"

  return maior

print(maior_estoque(produtos))

14. Escreva uma função que recebe uma lista de números e retorna uma lista contendo somente
os números divisíveis por 3 e 5 ao mesmo tempo.

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]

def tres_cinco(lista):
  TC = []
  for i in lista:
    if i % 5 == 0 and i % 3 == 0:
      TC.append(i)
  return TC
print(tres_cinco(numeros))

15. Escreva uma função que recebe uma lista de dicionários com informações sobre carros
(marca, modelo, ano de fabricação, preço) e retorna uma lista de dicionários contendo
somente os carros fabricados entre 2000 e 2010, ordenados por preço.

In [ ]:
Carros = [{'MARCA': 'Ford', 'MODELO': 'Fiesta', 'ANO': 2020, 'PRECO': 45000},{'MARCA': 'Toyota', 'MODELO': 'Corolla', 'ANO': 2008, 'PRECO': 62000}, {'MARCA': 'Chevrolet', 'MODELO': 'Onix', 'ANO': 2009, 'PRECO': 55000}, {'MARCA': 'Volkswagen', 'MODELO': 'Golf', 'ANO': 2018, 'PRECO': 58000}]

def carros_ano(entra):
  mildez = []
  for n in entra:
    if n ['ANO'] <= 2010 and n['ANO'] >= 2000:
      mildez.append(n)
  mildez = sorted(mildez, key=lambda x : x['PRECO'])
  return mildez

print(carros_ano(Carros))